* {
    box-sizing: border-box;
}

body
{
    padding-top: 10px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

    background-color: #fff;
}

/****************************/
/****************************/


/****************************/
/****************************/
.content {
    flex-grow: 1;
}

.galleryUploads{
    text-align: center;
}

.accountRightNavMenu{
    text-align: center;
    color: #6d6b69;
    font-weight: 600;
    font-size: 16px;
}

.navmenu ul li {
    margin-bottom: 8px;
}

.navmenu ul li a {
    color: #6d6b69;
}

.accountActivity{
    padding: 10px 0 0 12px;
    font-weight: 200;
    font-size: 17px;
    color: #6d6b69;
}

.role-main {
    margin-top: 60%;
    font-size: 78px;
    color: #7d7b79;
}

.title-main-form{
    padding: 18px 0 0 0;
}

.main-form {
    margin-left: 14%;
}

.boldFont
{
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: #6d6b69;
}


.buttonsRegAccount{
    margin-top: 5%;
    text-align: center;
}


.adminPanelTitle:hover
{
    text-decoration: none;
}

.adminPanelTitle:active
{
    text-decoration: none;
}

.adminPanelTitle:visited
{
    text-decoration: none;
}

.textRight
{
    margin: 0;
    padding: 0;
    text-align: right;
}

.textCenter
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.boldText
{
    font-size: 16px;
    font-weight: 600;
}

table th, form label
{
    color: #6d6b69;
    font-weight: 600;
}

.space
{
    padding: 0 10px 0 10px;
}

.colorGrey
{
    color: #6d6b69;
    font-weight: 600;
}

.priceProductShow
{
    color: #6d6b69;
    font-weight: 600;
    margin: 0;
    font-size: 17px;
}

.bodyProductShow
{
    margin: 0;
    font-size: 15px;
}

.adminShowItem
{
    margin: 0;
}

.btnCategories
{
    padding-top: 20px;
}




/*** start footer ***/
.footerTextLeft
{
    float: left;
    margin: 13px 0 0 10px;
    color: #6d6b69;
}

.footerTextRight
{
    text-align: right;
    margin: 13px 10px 0 0;
    color: #6d6b69;
}

#navbar
{
    margin-bottom:10px
}
/*** end footer** */